DB_HOST=localhost
DB_PORT=5432
DB_NAME=bloquinho
DB_USERNAME=bloquinho
DB_PASSWORD=bloquinho
ADMIN_FRONTEND_URL=http://localhost:4200
PUBLIC_FRONTEND_URL=http://localhost:4300
SPRING_PROFILES_ACTIVE=local
